:root {
    --bb-nav: #1E1E1E;
    --bb-pink: #F02666;
    --bb-pink-light: #EA45A0;
    --bb-green: #32806F;
    --bb-green-light: #00AD45;
    --bb-fluo: #64FF4F;
    --bb-blue: #3B86E9;
    --bb-dark-blue: #3F4C5E;
    --bb-salmon: #FF8A8A;
    --bb-purple: #8955FC;
    --bb-purple-light: #8850FE;
    --bb-grey: #202225;
    --bb-red: #ED2D45;
    --bb-white: #FFFFFF;
    --bb-black: #000000;
}
