:root {
	--bb-nav: #1e1e1e;
	--bb-pink: #ff696c;
	--bb-pink-light: #ea45a0;
	--bb-green: #32806f;
	--bb-green-light: #00ad45;
	--bb-fluo: #64ff4f;
	--bb-blue: #3b86e9;
	--bb-dark-blue: #3f4c5e;
	--bb-salmon: #ff8a8a;
	--bb-purple: #8955fc;
	--bb-purple-light: #8850fe;
	--bb-grey: #404244;
	--bb-light-grey: #b3b3b3;
	--bb-super-light-grey: #d9d9d9;
	--bb-red: #ed2d45;
	--bb-white: #ffffff;
	--bb-black: #000000;
	--bb-black-50: #000000ad;
	--bb-salmon-50: #ff8a8acf;
}
