@font-face {
	font-family: 'Dogica';
	src: local('Dogica'), local('Dogica-Regular'), url('../../fonts/Dogica/dogica.woff2') format('woff2'),
		url('../../fonts/Dogica/dogica.woff') format('woff'),
		url('../../fonts/Dogica/dogica.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
	font-family: 'Dogica';
	src: local('Dogica Bold'), local('Dogica-Bold'), url('../../fonts/Dogica/dogicabold.woff2') format('woff2'),
		url('../../fonts/Dogica/dogicabold.woff') format('woff'),
		url('../../fonts/Dogica/dogicabold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
	font-family: 'BoldPixels';
	src: local('BoldPixels'), local('BoldPixels-Regular'), url('../../fonts/BoldPixels/BoldPixels.woff2') format('woff2'),
		url('../../fonts/BoldPixels/BoldPixels.woff') format('woff'),
		url('../../fonts/BoldPixels/BoldPixels.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
	font-family: 'GNUUnifont';
	src: local('GNU Unifont'), url('../../fonts/UniFont/gnu-unifont.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


:root {
	--font-first: 'BoldPixels', 'GNUUnifont', 'Dogica', monospace;
	--font-second: 'Dogica', 'GNUUnifont', monospace;
	--font-third: 'GNUUnifont', 'Dogica', monospace;
	--font-fourth: "Righteous", sans-serif;
}
