@font-face {
    font-family: 'Dogica';
    src: url(../../fonts/OTF/dogica.otf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VHSGothic';
    src: url(../../fonts/VHSGhotic/vhs-gothic.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Visitor';
    src: url(../../fonts/Visitor/visitor1.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Retro-Computer';
    src: url(../../fonts/TTF/retro_computer.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
