@mixin queries {
	@media screen and (max-width: 1200px) {
		.footer {
			&__container {
				display: grid;
				justify-items: center;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
			}

			&__logos {
				grid-row: 1;
				grid-column: span 2;
			}
		}
	}
	@media screen and (max-width: 1100px) {
		.header {
			.video__box {
				padding: 0 2rem;
			}
			&__socials {
				& h1 {
					font-size: 2.2rem;
				}
			}
			&__socials-list {
				gap: 2rem;
				& a {
					font-size: 2.2rem;
				}
			}
		}
	}
	@media screen and (max-width: 992px) {
		.nav-menu {
			justify-content: flex-end;
			&__container {
				padding: 0 2rem;
				justify-content: space-between;
			}
			&__mobile {
				display: flex;
				justify-content: center;
				align-items: center;

				& button {
					color: var(--bb-white);
					background-color: transparent;
					border: none;
					width: 40px;
					cursor: pointer;
				}
			}

			&__logo,
			&__mobile,
			&__others {
				width: 100%;
			}

			&__links {
				padding: 5rem 0 0;
				position: absolute;
				top: 100px;
				left: -100%;
				flex-direction: column;
				justify-content: start;
				gap: 5rem;
				width: 100%;
				min-height: 100vh;
				height: 100%;
				background: url(../img/backgroundBB.webp);
				overflow-y: scroll;
				transition: transform 0.4s;

				&.active {
					transform: translateX(100%);
				}
			}
		}
		.contact {
			top: 120px;
		}
		.footer {
			&__container {
				padding: 4rem 2rem 0;
			}
		}
	}
	@media screen and (max-width: 768px) {
		.header {
			&__socials {
				padding: 3rem 2rem;
				flex-direction: column;
				gap: 3rem;
			}
		}
		.email,
		.newsletter-delete {
			&__graphics {
				&--eye {
					display: none;
				}
				&--bar-code {
					background-size: 120px;
				}
			}
			&__title {
				padding: 6rem 0 0;
				& h2 {
					font-size: 3.8rem;
				}
			}
			&__form {
				justify-content: center;
				& h3 {
					font-size: 1.2rem;
				}
				& form {
					grid-template-rows: repeat(3, auto);
					& input[type='text'] {
						height: 40px;

						&::placeholder {
							font-size: 1.2rem;
						}
					}
				}
			}
			&__form-row {
				& label {
					font-size: 2rem;
				}
			}
		}
		.form-popup {
			&__container {
				&--msg {
					font-size: 1.4rem;
					letter-spacing: 0.35rem;
				}
			}
		}
		.contact {
			&__box {
				padding: 2rem;
				& img {
					padding-bottom: 5rem;
					max-width: 150px;
				}
			}
			&__title-text {
				& p {
					font-size: 2rem;
				}
			}
			&__adress-list {
				& span {
					padding: 1rem 0;
					font-size: 2rem;
					text-align: center;
					& a {
						padding: 0.5rem 0;
						display: block;
					}
				}
			}
		}
	}
	@media screen and (max-width: 565px) {
		nav {
			height: 60px;
		}
		.nav-menu {
			&__container {
				padding: 0.2rem 0 0;
			}
			&__logo,
			&__mobile,
			&__others {
				justify-content: center;
			}
			&__mobile {
				& button {
					width: 30px;
				}
			}
			&__logo img {
				max-height: 45px;
				width: auto;
			}
			&__others-link {
				a {
					padding: 1rem 1.2rem;
					font-size: 1.6rem;
				}
			}

			&__links {
				top: 60px;
			}
		}
		.header {
			&__socials-list {
				& a {
					font-size: 1.8rem;
				}
			}
		}
		.email,
		.newsletter-delete {
			&__box {
				& form {
					& input[type='text'] {
						margin: 0.4rem 0;
						padding: .5rem;
						height: 30px;
					}

					& input,
					input::placeholder {
						padding: .5rem;
						font-size: 1.8rem;
					}
				}
			}

			&__agree-box {
				& label {
					font-size: 1.4rem;
				}
			}

			&__unsubscribe {
				text-align: center;
				color: var(--bb-purple);
			}
		}
		.contact {
			top: 100px;
			.close-contact {
				padding: 0.7rem;
				width: 35px;
				border-radius: 0.9rem;
			}
		}
		.privacyPolicy {
			margin: 7rem auto 5rem;

			h2 {
				padding: 1rem 0 2rem;
				font-size: 2.8rem;
			}

			li {
				font-size: 2rem;
			}
			ul,
			ul li {
				font-size: 1.6rem;
			}
		}
		.footer {
			&__container {
				padding: 3rem 2rem;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(3, auto);
			}
			&__dot,
			&__bb {
				padding: 2rem 0 1rem;
				text-align: center;
			}
			&__dot {
				grid-row: 2;
			}
			&__bb {
				grid-row: 3;
			}
			&__logos {
				gap: 2rem 3rem;
				flex-wrap: wrap;

				& a {
					width: 40%;
				}
			}
		}
	}
	@media screen and (max-width: 360px) {
		.header {
			&__socials {
				padding: 3rem 1rem;
				& a {
					font-size: 1.6rem;
				}
			}
		}
	}
	@media (orientation: portrait) {
		.header {
			.video__box {
				margin: 12rem 0 0;
				max-height: unset;
				& video {
					aspect-ratio: 3 / 4;
				}
			}
		}
	}
	@media screen and (max-width: 565px) and (orientation: portrait) {
		.header {
			.video__box {
				margin: 8rem 0 0;
			}
		}
	}
}
