@mixin queries {
	@media screen and (max-width: 992px) {
		.nav-menu {
			justify-content: flex-end;

			&__mobile {
				display: flex;
				justify-content: center;
				align-items: center;

				& button {
					color: var(--bb-white);
					background-color: transparent;
					border: none;
					width: 40px;
					cursor: pointer;
				}
			}

			&__logo,
			&__mobile,
			&__others {
				width: 30%;
			}

			&__links {
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				flex-direction: column;
				justify-content: space-evenly;
				width: 100vw;
				height: 100vh;
				background: white;
			}
		}
	}
	@media screen and (max-width: 565px) {
		nav {
			height: 60px;
		}
		.nav-menu {
			&__mobile {
				& button {
					width: 30px;
				}
			}
			&__others-link {
				padding: 1rem 1.2rem;
				font-size: 1.1rem;
			}
		}
	}
}
