@use '../sass/colors' as *;
@use '../sass/fonts' as *;
@use '../sass/media';

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: var(--font-first);
	height: 100%;
	scroll-behavior: smooth;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
}
body {
	position: relative;
	background: var(--bb-light-grey);
	height: 100%;
}

body.menuActive {
	height: 100%;
	overflow: hidden;
}
nav {
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 10;
}
header,
main,
footer {
	overflow: hidden;
}
button {
	background: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	height: 100%;
}
.nav-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1430px;
	height: 100%;
}

section {
	position: relative;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	// background: url(../img/backgroundBB.webp);
	// background-size: cover;
	// background-position: center;
}
.nav-menu {
	height: 100%;
	width: 100%;

	&.background {
		background: #b3b3b3e6;
	}
	&__container {
		padding: 0 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	& a,
	button,
	li {
		cursor: pointer;
	}

	&__mobile {
		display: none;
	}

	&__logo,
	&__others {
		width: 15%;
	}
	&__logo {
		display: flex;
		justify-content: flex-end;
		& img {
			max-width: 100px;
			width: 100%;
			height: auto;
		}
	}

	&__links {
		padding: 0.5rem 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		width: 70%;
		height: 100%;
		text-transform: uppercase;
		font-size: 2rem;
		font-family: var(--font-fourth);
		color: var(--bb-white);
	}

	&__link {
		color: var(--bb-black);
		background: transparent;
		transition: background 0.4s;

		&:hover:not(.not-active) {
			color: var(--bb-white);
			background: var(--bb-black);
		}
	}

	&__link,
	&__others-link {
		border-radius: 1.3rem;
		& a {
			padding: 1rem 2rem;
			display: block;
		}
	}
	&__others {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__others-link {
		padding: .6rem .3rem;
		background: var(--bb-purple);
		color: var(--bb-black);
		font-size: 1.4rem;
		font-family: var(--font-fourth);
		transition: background 0.4s, color .4s;

		&:hover {
			background: var(--bb-black);
			color: var(--bb-white);
		}
	}
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	// background: url(../img/backgroundBB.webp);
	// background-size: cover;
	// background-position: center;
	z-index: 0;

	.video__box {
		margin: 12rem 0 0;
		padding: 0 5rem;
		max-height: 880px;
		max-width: 1430px;

		& video {
			object-fit: cover;
			border-radius: 3rem;
			aspect-ratio: 16 / 9;
			box-shadow: 0px 0px 10px 2px #a8a8a8;
		}
	}

	&__socials {
		padding: 3rem 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5rem;
		max-width: 1430px;
		width: 100%;

		& h1, h2 {
			padding: 0.5rem 2.6rem;
			font-family: var(--font-fourth);
			font-size: 2rem;
			font-weight: 600;
			text-transform: uppercase;
			color: var(--bb-black);
			border-radius: 1.3rem;
		}
	}

	&__socials-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		& a {
			font-size: 2.4rem;
			text-transform: uppercase;
			color: var(--bb-black);
			transition: color 0.4s;
			cursor: pointer;

			&:hover {
				color: var(--bb-white);
			}
		}
	}
}

.email,
.newsletter-delete {
	width: 100%;
	// background: url(../../dist/img/emailBg.webp);
	// background-size: cover;
	// background-position: center;
	z-index: 0;

	// &__graphics {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: 1;

	// 	&--bar-code {
	// 		background: url(../../dist/img/barCode.svg);
	// 		background-size: 180px;
	// 		background-position: center bottom 5px;
	// 		background-repeat: no-repeat;
	// 		opacity: 0.7;
	// 	}

	// 	&--eye {
	// 		background: url(../../dist/img/eyeEmail.svg);
	// 		background-size: 180px;
	// 		background-position: right 100px bottom 120px;
	// 		background-repeat: no-repeat;
	// 	}
	// }

	&__box {
		margin: 0 auto;
		padding: 4rem 0;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 640px;
		height: 100%;
		z-index: 10;

		& h3 {
			padding: 1rem 0 0.5rem;
			font-size: 2rem;
			text-transform: uppercase;
			color: var(--bb-white);
		}

		& form {
			padding: 0rem 3rem;
			display: grid;

			& input[type='text'] {
				margin: 1rem 0;
				padding: 2rem;
				height: 50px;
				border-radius: 1.2rem;
				line-height: 0.4rem;
				border: none;
			}

			& input,
			input::placeholder {
				font-family: var(--font-third);
				font-size: 2rem;
				letter-spacing: 0.25rem;
				text-indent: 0.1rem;
				color: var(--bb-pink);
				&::placeholder {
					text-transform: uppercase;
				}
			}
		}
	}

	&__poster {
		z-index: 0;
		& img {
			width: 100%;
			height: auto;
			max-width: 548px;
		}
	}
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		z-index: 10;

		& h2 {
			display: flex;
			align-items: center;
			font-size: 4.2rem;
			text-transform: uppercase;
			color: var(--bb-white);

			& img {
				padding: 0 2rem;
				width: 100%;
				height: auto;
				max-width: 180px;
			}
		}
	}

	&__form-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		max-height: 400px;
		z-index: 0;
	}
	&__form {
		position: relative;
	}

	&__form-row {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(auto, 35px);
		color: var(--bb-white);
		& label {
			margin: auto 0;
			padding: 0 1rem;
			font-size: 2.6rem;
			text-transform: uppercase;
		}
	}

	&__agree-box {
		position: relative;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;

		& a {
			padding: 1rem 0.5rem;
			color: var(--bb-pink);
			text-transform: uppercase;
		}
		& label {
			font-size: 1.6rem;
			color: var(--bb-black);
		}

		& input[type='checkbox'] {
			position: absolute;
			opacity: 0;
			height: 25px;
			width: 22px;
			cursor: pointer;
		}

		& span {
			margin-right: 1rem;
			display: inline-block;
			background-color: white;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			max-width: 20px;
			max-height: 20px;
			border-radius: 0.2rem;

			&:has(> input:checked) {
				background-color: var(--bb-purple);
			}
		}
	}
	&__submit {
		padding: 2rem 5rem;
		background: url(../../dist/img/btnSendBB.svg);
		background-size: cover;

		height: 70px;
		width: 150px;
		transform: scale(1);
		transition: transform 0.4s;

		&:hover {
			transform: scale(1.1);
		}
	}
	&__send-box {
		margin: 0 auto;
		position: relative;
	}
	.sendingProceed {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		color: var(--bb-red);
		background: hsl(0 0% 0% / 0.8);
		border-radius: 1rem;

		&.active {
			display: flex;
		}
	}

	&__unsubscribe {
		padding: 1rem 1rem 2rem;
		color: var(--bb-black);

		& a {
			font-size: 1.6rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
		}
	}
	&.active {
		opacity: 1;
		pointer-events: all;
	}
}
.newsletter-delete {
	&__form-box {
		max-height: 260px;
	}
	&__title h2 {
		display: block;
		padding: 0 2rem;
		font-size: 3rem;
		text-align: center;
	}
}
.form-popup {
	padding: 0 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	display: none;

	z-index: 20;

	&.active {
		display: block;
		.form-popup {
			&__container--closeBtn {
				display: inline-block;
			}
		}
	}

	&__container {
		padding: 0 0.5rem;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: rgba($color: #000000, $alpha: 0.8);
		font-family: var(--font-third);

		&--msg {
			padding: 1rem 0;
			font-size: 1.8rem;
			letter-spacing: 0.3rem;
			text-align: center;
			color: var(--bb-white);
		}

		&--closeBtn {
			display: none;
			margin: 2rem 0;
			padding: 1rem 2rem;
			background: var(--bb-green);
			border: none;
			color: var(--bb-white);
			font-size: 2rem;
			border-radius: 1rem;
			text-transform: uppercase;
			font-family: var(--font-third);
			letter-spacing: 0.3rem;
		}
	}
}
#contact {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate(-100%, 0%);
	transition: transform 0.4s;

	&.active {
		transform: translate(0%, 0%);
		overflow-y: scroll;
	}
}
.contact {
	position: relative;
	top: 150px;
	width: 100%;
	z-index: 0;

	.close-contact {
		padding: 0.7rem;
		position: absolute;
		top: 0;
		right: 10%;
		width: 60px;
		background: var(--bb-white);
		border-radius: 1.2rem;
		transition: background 0.4s;
		z-index: 10;

		& img {
			width: 100%;
			height: auto;
			transform: scale(1);
			transition: transform 0.4s;
		}

		&:hover {
			background: var(--bb-pink);
			& img {
				transform: scale(0.9);
			}
		}
	}
	p,
	span {
		font-family: var(--font-first);
	}

	&__box {
		margin: 0 auto;
		padding: 2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 890px;
		color: #281717;
		border-radius: 0.8rem;

		& img {
			padding-bottom: 10rem;
			max-width: 160px;
		}
	}

	&__title-text {
		margin: 0 auto;
		max-width: 680px;
		& p {
			text-align: center;
			font-size: 2.6rem;
			letter-spacing: 0.4rem;
		}
	}

	&__adress-list {
		padding: 4rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		align-content: center;

		& span {
			padding: 2rem 0;
			font-size: 2.6rem;
			color: var(--bb-grey);
			text-transform: uppercase;

			& a {
				text-transform: lowercase;
				transition: color 0.4s;
				letter-spacing: 0.2rem;

				&:hover {
					color: var(--bb-white);
				}
			}
		}
	}
	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.privacyPolicy {
	margin: 10rem auto 5rem;
	padding: 2rem 3rem;
	position: relative;
	list-style-position: inside;
	li {
		list-style: inherit;
	}

	h2 {
		padding: 1rem 0 2rem;
		font-size: 3.6rem;
		text-align: center;
		text-transform: uppercase;
	}

	ol {
		max-width: 960px;
	}

	li {
		padding: 1rem 0;
		font-size: 2.6rem;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}
	ul,
	ul li {
		padding: 0.2rem 0;
		font-size: 1.8rem;
		letter-spacing: 0.1rem;
		text-transform: none;
	}
}

.footer {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;

	&__graphics {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&--bar-code {
			background: url(../../dist/img/barCode.svg);
			background-size: 180px;
			background-position: right 100px center;
			background-repeat: no-repeat;
			opacity: 0.3;
		}
	}

	&__container {
		margin: 0 auto;
		padding: 0rem 1rem 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5rem;
		justify-content: space-around;
		max-width: 1430px;

		a {
			width: 25%;
			font-family: var(--font-third);
			font-size: 1.7rem;
			letter-spacing: 0.2rem;
			text-align: center;
		}
	}

	&__logos {
		margin: 0 1rem;
		padding: 2rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 620px;
		width: 50%;
		background: var(--bb-grey);
		border-radius: 1.6rem;

		& img {
			width: 100%;
			height: auto;
			max-height: 45px;
		}
	}
}

.nav-menu .not-active a {
	cursor: default;
	filter: opacity(0.5);
}
@include media.queries;
