@use '../sass/colors' as *;
@use '../sass/fonts' as *;
@use '../sass/media';

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Retro-Computer', sans-serif;
}

body {
	position: relative;
	background: var(--bb-nav);
}

nav {
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 10;
}
button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	height: 100%;
}
.nav-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1550px;
	height: 100%;
}

section,
header {
	height: 100vh;
	background: url(../img/backgroundBB.webp);
	background-size: cover;
	background-position: center;
	z-index: 0;
}
.nav-menu {
	height: 100%;
	width: 100%;
	&__container {
		padding: 0 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	& a,
	button,
	li {
		cursor: pointer;
	}

	&__mobile {
		display: none;
	}

	&__logo,
	&__others {
		width: 15%;
	}
	&__logo {
		display: flex;
		justify-content: flex-end;
		& img {
			max-width: 125px;
			width: 100%;
			height: 100%;
		}
	}

	&__links {
		padding: 0.5rem 1rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 2rem;
		width: 70%;
		height: 100%;
		text-transform: uppercase;
		font-size: 1rem;
		color: var(--bb-white);
	}

	&__link {
		background: var(--bb-grey);
		transition: background 0.4s;

		&:hover {
			background: var(--bb-green);
		}
	}

	&__link, &__others-link {
		padding: 1.6rem 2rem;
		border-radius: 1.3rem;

	}
	&__others {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__others-link {
		background: var(--bb-grey);
		color: var(--bb-pink);
		font-size: 1.2rem;
		font-weight: 600;
		transition: background 0.4s;

		&:hover {
			background: var(--bb-purple);
			color: var(--bb-white);
		}
	}
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100vh;

	.video__box {
		padding: 0 5rem;
		max-height: 720px;
		max-width: 1550px;

		& video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			overflow-clip-margin: content-box;
			overflow: clip;
			border-radius: 3rem;
		}
	}
}

.email {
	position: relative;
	height: 100%;
	z-index: 0;
	background: url(../../dist/img/emailBg.png);
	background-size: cover;
	background-position: center;
	z-index: 0;

	&__graphics {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		&--bar-code {
			background: url(../../dist/img/barCode.svg);
			background-size: 180px;
			background-position: center bottom 5px;
			background-repeat: no-repeat;
			opacity: 0.7;
		}

		&--eye {
			background: url(../../dist/img/eyeEmail.svg);
			background-size: 180px;
			background-position: right 100px bottom 120px;
			background-repeat: no-repeat;
		}
		// &--hand {
		// 	background: url(../../dist/img/handEmail.svg);
		// 	background-size: 45%;
		// 	background-position: left 25% top 40%;
		// 	background-repeat: no-repeat;
		// 	z-index: 2;
		// }
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__box {
		padding: 10rem 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 640px;
		height: 100%;
	}
	&__poster {
		z-index: 0;
		& img {
			width: 100%;
			height: auto;
			max-width: 548px;
		}
	}
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20%;
		width: 100%;
		z-index: 10;

		& h2 {
			display: flex;
			align-items: center;
			font-size: 4.2rem;
			color: var(--bb-white);

			& img {
				padding: 0 2rem;
				width: 100%;
				height: auto;
				max-width: 180px;
			}
		}
	}

	&__form {
		padding: 0 3rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 2rem;
		height: 50%;
		z-index: 10;

		& h3 {
			font-size: 1.4rem;
			color: var(--bb-white);
		}

		& form {
			display: grid;
			grid-template-rows: repeat(3, 1fr);

			& input[type='text'] {
				margin: 1rem 0;
				padding: 2rem;
				height: 60px;
				border-radius: 1.2rem;
				line-height: 0.4rem;
				border: none;

				&::placeholder {
					font-family: 'VHSGothic', sans-serif;
					font-size: 1.7rem;
					text-transform: uppercase;
					color: var(--bb-pink);
				}
			}
		}

		& button {
			padding: 2rem 5rem;
			background: url(../../dist/img/btnSendBB.svg);
			background-size: cover;
			border: none;
			max-width: 150px;
			max-height: 71px;
			height: 100%;
			width: 100%;
			transform: scale(1);
			transition: transform 0.4s;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&__agree-box {
		position: relative;
		padding: 2rem 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;

		& label {
			font-size: 0.9rem;
			color: var(--bb-white);
		}

		& input[type='checkbox'] {
			position: absolute;
			opacity: 0;
			height: 25px;
			width: 22px;
		}

		& span {
			margin-right: 1rem;
			display: inline-block;
			background-color: white;
			box-sizing: border-box;
			width: 40px;
			height: 25px;
			border-radius: 0.2rem;

			&:has(> input:checked) {
				background-color: var(--bb-purple);
			}
		}
	}
}

.footer {
	background: var(--bb-white);
	width: 100%;
	height: 100%;

	&__container {
		padding: 8rem 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		a {
			width: 15%;
			font-size: 1.2rem;
		}
	}

	&__logos {
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 670px;
		width: 100%;
		background: var(--bb-black);
		border-radius: 1.6rem;

		& img {
			width: 100%;
			height: auto;
			max-width: 105px;
		}
	}
}

@include media.queries;
